In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
df_customers = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\customers.csv', index_col = False)

In [4]:
path = r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents'

In [5]:
path

'C:\\Users\\admin\\OneDrive - Aero Operating LLC\\Documents'

In [6]:
df = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\orders.csv', index_col = False)

In [ ]:
df = pd.read_csv(os.path.join(path, 'orders.csv'), index_col = False)

In [7]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
df.shape

(3421083, 7)

In [10]:
df_prods = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\products.csv', index_col = False)

In [11]:
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [12]:
df_prods.shape

(49693, 5)

In [13]:
df_dep = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\departments.csv', index_col = False)

In [14]:
df_dep.shape

(1, 22)

In [15]:
df_prods_clean = df_prods[df_prods['product_name'].isnull()== False]

In [16]:
df_prods_clean.shape

(49677, 5)

In [17]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [18]:
df_prods_clean_no_dups.shape

(49672, 5)

In [20]:
df_ords_prior = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\order_products__prior.csv', index_col = False)

In [21]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_combine = pd.read_pickle(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Prepared Data\orders_products_combined.pkl')

In [24]:
paths = r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Prepared Data'

In [25]:
paths

'C:\\Users\\admin\\OneDrive - Aero Operating LLC\\Documents\\Prepared Data'

In [26]:
df_ords_prod_comb = pd.read_pickle(os.path.join(paths, 'orders_products_combined.pkl'))

In [27]:
df_ords_prod_comb

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [28]:
df_ords_prod_comb.shape

(32434489, 11)

In [29]:
df_prods = pd.read_csv(r'C:\Users\admin\OneDrive - Aero Operating LLC\Documents\Original Data\products.csv', index_col = False)

In [30]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [34]:
df_prods.shape

(49693, 5)

In [31]:
df_ord_prod_merged = df_ords_prod_comb.merge(df_prods, on = 'product_id')

In [32]:
df_ord_prod_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [33]:
df_ord_prod_merged.shape

(32434212, 15)